html {
  color: #000;
  overflow-y: scroll;
  background: #fff;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
fieldset,
lengend,
button,
input,
textarea,
form,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #ff7300;
}
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
q:before,
q:after {
  content: '';
}
:focus {
  outline: 0;
}
legend {
  color: #000;
}
fieldset,
img {
  border: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: none;
  height: 1px;
  *color: #fff;
}
img {
  -ms-interpolation-mode: bicubic;
}
.fd-left {
  float: left;
}
.fd-right {
  float: right;
}
.fd-clear {
  clear: both;
}
.fd-clr {
  zoom: 1;
}
.fd-clr:after {
  display: block;
  clear: both;
  height: 0;
  content: "\0020";
}
.fd-hide {
  display: none;
}
.fd-show {
  display: block;
}
.fd-inline {
  display: inline;
}
.fd-lump {
  display: inline-block;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}
.fd-visible {
  visibility: visible;
}
.fd-hidden {
  visibility: hidden;
}
.fd-locate {
  position: relative;
}
.fd-cny {
  font-family: Helvetica, Arial;
}
.fd-gray {
  color: #666;
}
.fd-bold {
  font-weight: 700;
}
html {
  background: #dfeaef url("../img/assets.png") repeat-x 0 -905px;
}
hr {
  background: #cedfe7;
  margin: 10px 0;
}
.w1000 {
  width: 1000px;
  margin: 0 auto;
}
.header {
  width: 1000px;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 10px;
}
.header .logo {
  margin-left: 30px;
  width: 174px;
  height: 121px;
  background: url("../img/assets.png") no-repeat 0px -670px;
  text-indent: -9999px;
}
.header .nav {
  margin-top: 35px;
}
.header .nav li {
  float: left;
  text-align: center;
}
.header .nav li a {
  font-size: 14px;
  font-weight: bold;
  width: 170px;
  height: 43px;
  text-decoration: none;
  color: #bde0f0;
  line-height: 43px;
  display: block;
  background: url("../img/assets.png") repeat-x;
}
.header .nav li a:hover {
  background: url("../img/assets.png") no-repeat 0 -72px;
  color: #323b3d;
  text-decoration: none;
}
.header .nav .spacing {
  width: 2px;
  height: 43px;
  background: url("../img/assets.png") no-repeat 0 -152px;
  text-indent: -9999px;
  line-height: 43px;
}
.footer {
  height: 45px;
  height: 45px;
  background-color: #3e7db0;
}
.footer .content {
  width: 1000px;
  margin: 0 auto;
}
.footer .content p {
  color: #dfeaef;
  background: url("../img/assets.png") no-repeat 0px -825px;
  padding-left: 50px;
  line-height: 45px;
}
.dashed {
  background: url("../img/chart-demo.png") repeat-x 0 -220px;
  height: 1px;
  overflow: hidden;
}
h3 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}
h4 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}
.ol {
  list-style: decimal;
  padding-left: 40px;
}
.ul {
  list-style: disc;
  padding-left: 40px;
}
.info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 8px 35px 8px 14px;
  margin: 21pt 0;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  border-radius: 4px;
}
html {
  background: #dfeaef url("../img/assets.png") repeat-x 0px -1160px;
}
.content .nav-container {
  width: 165px;
  padding-left: 47px;
  padding-top: 50px;
}
.content .nav-container h1 {
  font-size: 48px;
  background-color: #efb117;
  color: #fff;
}
.content .nav-container .nav li {
  color: #d3d3d3;
  font-size: 20px;
  cursor: pointer;
}
.content .nav-container .nav li a {
  color: #d3d3d3;
}
.content .nav-container .nav li a:hover {
  text-decoration: none;
}
.content .nav-container .nav li.current {
  color: #6b9cc3;
}
.content .nav-container .nav li.current a {
  color: #6b9cc3;
}
.content .content-container {
  margin-top: 10px;
  width: 748px;
  background: #fff;
  font-size: 16px;
  color: #444;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.content .content-container {
  height: 630px;
}
.content .content-container #group-content,
.content .content-container #event-content {
  display: none;
}
