html {
  color: #000;
  overflow-y: scroll;
  background: #fff;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
fieldset,
lengend,
button,
input,
textarea,
form,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #ff7300;
}
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
q:before,
q:after {
  content: '';
}
:focus {
  outline: 0;
}
legend {
  color: #000;
}
fieldset,
img {
  border: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: none;
  height: 1px;
  *color: #fff;
}
img {
  -ms-interpolation-mode: bicubic;
}
.fd-left {
  float: left;
}
.fd-right {
  float: right;
}
.fd-clear {
  clear: both;
}
.fd-clr {
  zoom: 1;
}
.fd-clr:after {
  display: block;
  clear: both;
  height: 0;
  content: "\0020";
}
.fd-hide {
  display: none;
}
.fd-show {
  display: block;
}
.fd-inline {
  display: inline;
}
.fd-lump {
  display: inline-block;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}
.fd-visible {
  visibility: visible;
}
.fd-hidden {
  visibility: hidden;
}
.fd-locate {
  position: relative;
}
.fd-cny {
  font-family: Helvetica, Arial;
}
.fd-gray {
  color: #666;
}
.fd-bold {
  font-weight: 700;
}
html {
  background: #dfeaef url("../img/assets.png") repeat-x 0 -905px;
}
hr {
  background: #cedfe7;
  margin: 10px 0;
}
.w1000 {
  width: 1000px;
  margin: 0 auto;
}
.header {
  width: 1000px;
  margin: 0 auto;
  margin-top: 25px;
}
.header .logo {
  margin-left: 30px;
  width: 174px;
  height: 121px;
  background: url("../img/assets.png") no-repeat 0px -670px;
  text-indent: -9999px;
}
.header .nav {
  margin-top: 10px;
}
.header .nav li {
  float: left;
  text-align: center;
}
.header .nav li a {
  font-size: 14px;
  font-weight: bold;
  width: 170px;
  height: 43px;
  text-decoration: none;
  color: #bde0f0;
  line-height: 43px;
  display: block;
  background: url("../img/assets.png") repeat-x;
}
.header .nav li a:hover {
  background: url("../img/assets.png") no-repeat 0 -72px;
  color: #323b3d;
  text-decoration: none;
}
.header .nav .spacing {
  width: 2px;
  height: 43px;
  background: url("../img/assets.png") no-repeat 0 -152px;
  text-indent: -9999px;
  line-height: 43px;
}
.footer {
  height: 45px;
  height: 45px;
  background-color: #3e7db0;
}
.footer .content {
  width: 1000px;
  margin: 0 auto;
}
.footer .content p {
  color: #dfeaef;
  background: url("../img/assets.png") no-repeat 0px -825px;
  padding-left: 50px;
  line-height: 45px;
}
.content {
  width: 1000px;
  margin: 0 auto;
}
.content .primary {
  padding: 30px 0 15px 0;
}
.content .primary .banner {
  position: relative;
  width: 466px;
  height: 400px;
}
.content .primary .banner .banner-title-wrapper {
  position: absolute;
  left: 180px;
  bottom: 7px;
}
.content .primary .banner .banner-title-wrapper .banner-title {
  float: left;
  width: 14px;
  height: 14px;
  border-radius: 7px 7px 7px 7px;
  background-color: #f0f8f6;
  margin-right: 10px;
  border: 0px solid #000;
  cursor: pointer;
}
.content .primary .banner .banner-title-wrapper .banner-title-active {
  background-color: #5a97ac;
}
.content .primary .banner .banner-tab img {
  width: 466px;
  height: 328px;
}
.content .primary .info {
  width: 400px;
  margin-left: 100px;
}
.content .primary .info .forfree {
  width: 242px;
  height: 102px;
  background: url("../img/assets.png") no-repeat 0px -440px;
  text-indent: -9999px;
}
.content .primary .info .intro {
  color: #95c7ef;
  margin-top: 20px;
}
.content .primary .info .more {
  margin-top: 5px;
}
.content .primary .info .more a {
  color: #fff;
  font-size: 14px;
  padding-right: 30px;
  background: url("../img/assets.png") no-repeat 80px -617px;
}
.content .primary .info .download {
  margin-left: -30px;
  padding-top: 50px;
}
.content .primary .info .download li {
  float: left;
}
.content .primary .info .download li a {
  width: 128px;
  height: 75px;
  display: block;
  color: #fff;
  padding-left: 50px;
  padding-top: 10px;
}
.content .primary .info .download li a .title {
  font-size: 20px;
  font-weight: bold;
}
.content .primary .info .download .download_link {
  background: url("../img/assets.png") no-repeat 0px -336px;
}
.content .primary .info .download .demo_link {
  margin-left: 40px;
  background: url("../img/assets.png") no-repeat -215px -336px;
}
.content .primary .info .news {
  margin-top: 25px;
}
.content .primary .info .news .new {
  padding-right: 25px;
  background: url("../img/assets.png") no-repeat 240px -573px;
  display: inline;
}
.content .second {
  padding: 15px 0 10px 0;
}
.content .second li {
  float: left;
  width: 170px;
  margin-right: 80px;
  font-size: 12px;
}
.content .second li .title {
  margin-top: 20px;
  color: #3e7db0;
  font-weight: bold;
}
.content .second li .intro {
  color: #8198a2;
}
.content .third {
  padding: 15px 0 10px 0;
}
.content .third .title {
  font-weight: bold;
  color: #444;
}
.content .third .github {
  background: url("../img/github.png") no-repeat;
  height: 60px;
  margin-top: 25px;
  padding-left: 150px;
}
.content .third .github p {
  color: #8198a2;
}
.content .third .github a {
  color: #3e7db0;
}
.links {
  height: 51px;
  height: 51px;
  margin-top: 30px;
  background: url("../img/assets.png") repeat-x 0px -230px;
}
.links .nav {
  width: 1000px;
  margin: 0 auto;
}
.links .nav li {
  padding-top: 20px;
  float: left;
  color: #3e7db0;
}
.links .nav .spacing {
  color: #a0caeb;
  margin: 0 10px;
}
