html{
	width:1000px;
	margin:0 auto;
	background:#dfeaef url("../img/bg.png") repeat-x;
}

header{
	margin-top:35px;
	.logo{
		float: left;
		width:174px;
		height:121px;
		background:url("../img/homepage_logo.png") no-repeat;
		text-indent:-9999px;
	}
	nav{
		margin-top:10px;
		float: right;
		li{
			float: left;
			text-align: center;
			a{
				width:170px;
				height:43px;
				text-decoration: none;
				color:#bde0f0;
				line-height:43px;
				display: block;
				background:url("../img/nav_btn.png") repeat-x;
			}
		}
		.spacing{
			width:2px;
			height:43px;
			background:url("../img/spacing.png") no-repeat;
			text-indent:-9999px;
			line-height:43px;
		}
	}
}

.primary{
	.banner{
		float:left;
		position: relative;
				width:466px;
				height:400px;
				.banner-title-wrapper{
					position: absolute;
					left:180px;
					bottom:7px;
					.banner-title{
						float:left;
						width:14px;
						height:14px;
						border-radius: 7px 7px 7px 7px;
						background-color: #F0F8F6;
						margin-right:10px;
						border:0px solid #000000;
						cursor: pointer;
					}
					.banner-title-active{
						background-color: #5A97AC;
					}
				}
		.banner-tab{
			img{
				width:466px;
				height:328px;
			}
		}
	}
	.info{
		float: left;
		width: 400px;
	}
}