!!!5
html
    meta(chartset="utf-8")
    head
        title BeeChart
        meta(name="description",content="beechart是免费的开源flash图表")
        meta(name="keywords",content="bflash, chart, bee, forfree, opensource, simple, 图表, 免费, 开源")
        link(rel="shortcut icon",type="image/x-icon",href="favicon.ico")
        link(rel="stylesheet",type="text/css",href="css/yid-chart-demo-merge.css")
        script(src="js/yid-chart-demo-merge.js")
     body
        ul.demos#demos
        div(style="clear:both")
        script
            jQuery(function($){
                $('#demos').demos(
                {
                    title   : '默认柱状图样式',
                    type    : 'bar',
                    width   : 700,
                    height  : 450,
                    swf     : 'swf/beechart-bar.swf',
                    dataUrl : ['swf/data/2-serials.xml', 'swf/data/3-serials.xml', 'swf/data/1-serial.xml', 'swf/data/mon-av-temp.xml', 'swf/data/mon-av-temp-4-ser.xml'],
                    cssUrl  : ['swf/css/ali-bar.css', 'swf/css/bar-stack-light.css'],
                    flashvars : {
                        w   : 600,
                        h   : 280
                    }
                },
                {
                    type    : 'bar',
                    swf     : 'swf/beechart-bar.swf',
                    width   : 700,
                    height  : 450,
                    dataUrl : 'swf/data/browser-stat-ff.xml',
                    cssUrl  : 'swf/css/bar-stack-light.css',
                    flashvars : {
                        w   : 600,
                        h   : 280
                    }
                },
            
                {
                    type    : 'bar',
                    swf     : 'swf/beechart-bar.swf',
                    width   : 700,
                    height  : 450,
                    dataUrl : 'swf/data/1-serial.xml',
                    cssUrl  : 'swf/css/bar-dark.css',
                    flashvars : {
                        w   : 600,
                        h   : 280
                    }
                },
                {
                    type    : 'hbar',
                    swf     : 'swf/beechart-hbar.swf',
                    width   : 700,
                    height  : 450,
                    dataUrl : 'swf/data/1-serial.xml',
                    cssUrl  : 'swf/css/hbar-light.css',
                    flashvars : {
                        w   : 600,
                        h   : 280
                    }
                }
                ).anythingSlider({
                    resizeContents  : true,
                    buildStartStop  : false,
                    infiniteSlides  : false
                });
            })
