!!!5
html
    head
        include include/head.jade
        link(rel="stylesheet",type="text/css",href="css/demo.css")
    body
        #header.fd-clr(data-current="demo")
            include include/nav.jade
        .content.w1000.fd-clr
            #demo-nav-container.nav-container.fd-left
                .nav
                    .nav-inner
                        h2 Demo
                        ul
                            li.current#pie
                                a(href="pie-demo.html") PIE/饼图
                            li#bar
                                a(href="bar-demo.html") BAR/柱图
                            li#line
                                a(href="line-demo.html") LINE/线图
                            li#time
                                a(href="time-demo.html") TIME/时间线
                        .arrow
            .chart-container.fd-left
                iframe#chart-iframe(src="pie-demo.html",frameborder="0",scrolling="no",width="788px",height="650px")
        include include/footer.jade

        script(type="text/javascript",src="dist/index-merge.js")