!!!5
html
    meta(chartset="utf-8")
    head
        title BeeChart
        meta(name="description",content="beechart是免费的开源flash图表")
        meta(name="keywords",content="beechart, chart, forfree, opensource, simple, 图表, 免费, 开源")
        link(rel="shortcut icon",type="image/x-icon",href="favicon.ico")
        link(rel="stylesheet",type="text/css",href="css/doc.css")
    body
        include include/nav.jade
        .content.w1000.fd-clr
            .nav-container.fd-left
                h1 文档
                ul.nav
                    li.current#start
                        a(href="#") 开始使用
                    li
                        a(href="#") 下载YID-Chart
                    li
                        a(href="#") FAQ
                    li
                        a(href="#") 教程
                    li
                        a(href="#") 如何扩展
                    li
                        a(href="#") 参数类型
            .content-container.fd-left
                #start-content 
                    秉承简单，好看，好用的理念，进行设计与开发.
                    使用起来简单，易上手。
                    只需简单5步就能使用起来。


        include include/footer.jade

        script(type="text/javascript",src="http://style.china.alibaba.com/js/lib/fdev-v4/core/fdev-min.js")
        script
           jQuery(function($){
                $(".nav-container .nav li").on("click",function(e){
                    e.preventDefault();
                    $(this).parent().find("li").removeClass("current");
                    $(this).addClass("current");
                });
            });
