!!!5
html
    head
        include include/head.jade
        link(rel="stylesheet",type="text/css",href="css/index.css")
    body
        #header.fd-clr(data-current="index")
            include include/nav.jade
        .content
            .primary.fd-clr
                #banner.banner.fd-left
                    ul.banner-content
                        li
                            a(href="https://github.com/sjpsega/beechart",target="_blank")
                                img(src="img/slider-1.png")
                        li
                            a(href="https://github.com/sjpsega/beechart",target="_blank")
                                img(data-lazy-src="img/slider-2.png")
                        li
                            a(href="https://github.com/sjpsega/beechart",target="_blank")
                                img(data-lazy-src="img/slider-3.png")
                        li
                            a(href="https://github.com/sjpsega/beechart",target="_blank")
                                img(data-lazy-src="img/slider-4.png")
                    .banner-footer
                    .biaoqian
                .infos.fd-left
                    .forfree
                        简单 可扩展
                        完全免费
                    .intro BeeChart 助您在网站项目中更专业高效地展示数据，通过丰富的模版、动画效果和功能扩展，您只需简单配置即可快速常见生动的图表界面。最重要的是，他是完全免费的！
                    .more
                        a(href="about.html") 了解更多...
                    .download.fd-clr
                        ul
                            li
                                //- a.download_link(href="https://github.com/downloads/sjpsega/beechart/beechart%20demo.rar")
                                a.download_link(href="rar/beechart-demo.rar")
                                    p.title 下载文件包
                                    p.version Version 1.7.2
                            li
                                a.demo_link(href="http://sjpsega.github.com/beechart-editor/",target="_blank")
                                    p.title 编辑图表
                                    p.version 创建个性化图表样式
                    .news
                        ul
                            li.new
                                label 最新消息:
                                a(href="http://sjpsega.github.com/beechart-editor/",target="_blank") 强大的图表属性编辑器
                                label 2013.2.16
            hr
            .second.fd-clr
                ul.fd-clr
                    li
                        img(src="img/img_1.jpg")
                        p.title 轻松入手，人人可用
                        p.intro 使用方便，只需轻点鼠标，即可完成几乎全部功能和界面设置
                    li
                        img(src="img/img_2.jpg")
                        p.title 智能图表，效果生动
                        p.intro 人性化的动态数据展示效果，为您的数据报表吸引更多注意力
                    li
                        img(src="img/img_3.jpg")
                        p.title 丰富配置，应用广泛
                        p.intro 包括常见的折线、柱状、饼图等，能够满足您全方位的数据展示
                    li
                        img(src="img/img_4.jpg")
                        p.title 共享与开源
                        p.intro 免费开源，更多开发者不断增强及扩展图表功能和形式
            hr
            .third.fd-clr
                .fd-left
                    p.title 欢迎加入BeeChart开发社区
                    .github
                        p Github 让您更简单的获取及参与开发BeeChart图表，以及更多其他开源程序。
                        a(href="https://github.com/sjpsega/beechart",target="_blank") 了解更多 &gt;
                .weibo.fd-left
        include include/footer.jade

    script(type="text/javascript",src="dist/index-merge.js")
    script
        (function($){
            $.use("ui-tabs-effect,ui-tabs-lazyload",function()
              {
                 $("#banner .banner-content").tabs({
                                                       boxSelector: "li",
                                                       isAutoPlay: true,
                                                       timeDelay: 4, 
                                                       effect: "fade",
                                                       scrollType: "loop",
                                                       easing: "easeOutCubic"
                                                   });
              });
        })(jQuery);

