!!!5
html
    meta(chartset="utf-8")
    head
        title BeeChart
        meta(name="description",content="beechart是免费的开源flash图表")
        meta(name="keywords",content="bflash, chart, bee, forfree, opensource, simple, 图表, 免费, 开源")
        link(rel="shortcut icon",type="image/x-icon",href="favicon.ico")
        script(src="js/beechart/jquery-1.7.2.js")
        script(src="js/beechart/flash.js")
     body
        #flash-container
        #flash-container2
        script
            jQuery(function($){
                //- var chart = $("#flash-container").flash({
                //-                                 src:"swf/ali-yid-chart-bar.swf",
                //-                                 width:600,
                //-                                 height:300,
                //-                                 id:"aa",
                //-                                 flashvars:{
                //-                                     startDelay:500
                //-                                 }
                //-                             }).on("swfReady.flash",function(){
                                              //- chart.flash('getFlash').load("swf/data/1-serial.xml");
                                            //-   alert("aa");
                                            //- });

                //- var chart2 = $("#flash-container2").flash({
                //-                                 src:"swf/ali-yid-chart-line.swf",
                //-                                 width:600,
                //-                                 height:500,
                //-                                 id:"bb",
                //-                                 flashvars:{
                //-                                     startDelay:500
                //-                                 }
                //-                             }).on("swfReady.flash",function(){
                //-                               chart2.flash('getFlash').load("swf/data/1-serial.xml");
                //-                               alert("bb");
                //-                             });

                var Book = function(name){
                    if(this.check(name)){
                        console.log("error");
                        throw new Error("name null");
                    }
                    this.name = name;
                }
                Book.prototype = {
                    check:function(name){
                        if(!name){
                            return true;
                        }
                    },
                    getName:function(){
                        return this.name;
                    }
                }

                var book = new Book("哈哈");
                console.log(book.name,book.getName());

                var Book2 = function(name){
                    if(check(name)){
                        console.log("error");
                        throw new Error("name null");
                    }
                    name = name;
                    function check(name){
                        if(!name){
                            return true;
                        }
                    }
                    this.getName = function(){
                        return name;
                    }
                }
                Book2.prototype = {
                    display:function(){
                        //无法直接访问name
                        return "display:"+this.getName();
                    }
                }
                var book2 = new Book2("哈哈");
                console.log(book2.name,book2.getName(),book2.display());

                function extend(subClz,superClz){
                    var F = function(){}
                    F.prototype = superClz.prototype;
                    subClz.prototype = new F();
                    subClz.prototype.constructor = subClz;
                    subClz.superClass = superClz.prototype;
                    if(superClz.prototype.constructor == Object.prototype.constructor){
                        superClz.prototype.constructor = superClz;
                    }
                }
                var ArtBook = function(name,price){
                    Book.call(this,name);
                    this.price = price;
                }
                extend(ArtBook,Book);
                ArtBook.prototype.getPrice = function(){
                        return this.price;
                    }

                var artbook = new ArtBook("美术",23);
                console.log(artbook.getName(),artbook.getPrice());
            })
