!!!5
html
    meta(chartset="utf-8")
    head
        title BeeChart
        meta(name="description",content="beechart是免费的开源flash图表")
        meta(name="keywords",content="bflash, chart, bee, forfree, opensource, simple, 图表, 免费, 开源")
        link(rel="shortcut icon",type="image/x-icon",href="favicon.ico")
        script(src="js/beechart/jquery-1.7.2.js")
        script(src="js/beechart/jquery.flash.js")
     body
        #flash-container
        #flash-container2
        script
            jQuery(function($){
                var chart = $("#flash-container").flash({
                                                src:"swf/ali-yid-chart-bar.swf",
                                                width:600,
                                                height:300,
                                                flashvars:{
                                                    startDelay:500
                                                }
                                            }).on("swfReady.flash",function(){
                                              chart.flash('getFlash').load("swf/data/1-serial.xml");
                                            });

                var chart2 = $("#flash-container2").flash({
                                                src:"swf/ali-yid-chart-line.swf",
                                                width:600,
                                                height:500,
                                                flashvars:{
                                                    startDelay:500
                                                }
                                            }).on("swfReady.flash",function(){
                                              chart2.flash('getFlash').load("swf/data/1-serial.xml");
                                            });
            })
