<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
html
    head
        title BeeChart
        meta(name="description",content="beechart是免费的开源flash图表")
        meta(name="keywords",content="beechart, chart, forfree, opensource, simple, 图表, 免费, 开源")
        link(rel="shortcut icon",type="image/x-icon",href="favicon.ico")
        script(type="text/javascript",src="js/google-code-prettify/prettify.js")
        script(type="text/javascript",src="js/google-code-prettify/lang-css.js")
        link(rel="stylesheet",type='text/css',href="css/sons-of-obsidian.css")
    body(onload='prettyPrint()')
        pre.prettyprint.lang-html.linenums.
              <script type="text/javascript">
                // Say hello world until the user starts questioning
                // the meaningfulness of their existence.
                function helloWorld(world) {
                  for (var i = 42; --i >= 0;) {
                    alert('Hello ' + String(world));
                  }
                }
                </script>
                <style>
                p { color: pink }
                b { color: blue }
                u { color: "umber" }
                </style>


