!!!5
html
    head
        meta(charset="utf-8")
        title BeeChart
        meta(name="description",content="beechart是免费的开源flash图表")
        meta(name="keywords",content="bflash, chart, bee, forfree, opensource, simple, 图表, 免费, 开源")
        link(rel="shortcut icon",type="image/x-icon",href="favicon.ico")
        link(rel="stylesheet",type="text/css",href="css/yid-chart-demo-merge.css")
     body
        ul.demos#demos
        div(style="clear:both")
        script(src="dist/yid-chart-demo-merge.js")
        script
            jQuery(function($){
                $('#demos').demos(
                {
                    title   : '小数据量展示',
                    swf     : 'swf/beechart-timeline.swf',
                    width   : 700,
                    height  : 450,
                    dataUrl : ['swf/data/small_data.json'],
                    cssUrl  : ['swf/css/timeline.css'],
                    flashvars : {
                        w   : 600,
                        h   : 280
                    }
                },  
                {
                    title   : '大数据量展示',
                    swf     : 'swf/beechart-timeline.swf',
                    width   : 700,
                    height  : 450,
                    dataUrl : ['swf/data/big_data.json'],
                    cssUrl  : ['swf/css/single-dark-2.css'],
                    flashvars : {
                        w   : 600,
                        h   : 280
                    }
                }          
                ).anythingSlider({
                    resizeContents  : true,
                    buildStartStop  : false,
                    infiniteSlides  : false
                });
            })

