meta(charset="utf-8")
title BeeChart
meta(name="description",content="beechart是免费的开源flash图表")
meta(name="keywords",content="beechart, chart, forfree, opensource, simple, 图表, 免费, 开源")
link(rel="shortcut icon",type="image/x-icon",href="favicon.ico")
base(target="_blank")
