a(href="")
    .logo.fd-left BeeChart
ul.nav.fd-right
    li.index
        a(href="index.html",target="_self") 首页
    li.spacing |
    li.doc
        a(href="doc.html",target="_self") 文档
    li.spacing |
    li.demo
        a(href="demo.html",target="_self") Demo
    li.spacing |
    li.about
        a(href="about.html",target="_self") 关于