.header.fd-clr
    a(href="")
        .logo.fd-left BeeChart
    ul.nav.fd-right
        li
            a(href="index.html") 首页
        li.spacing |
        li
            a(href="doc.html") 文档
        li.spacing |
        li
            a(href="demo.html") Demo
        li.spacing |
        li
            a(href="about.html") 关于