chart {
    colors          : #FA6222,#FEC53F,#DBEE27,#87C822,#49AFB1;
    animate         : clockwise;
    order           : desc;
}

tooltip {
    tip : <b>#label#</b><br>#percent#<br>#value# / #total#;
    backgroundAlpha : .95;
}

slice {
    labelPosition   : callout;
    frameThickness  : 5;
    frameColor      : #FFFFFF;
    donutThickness  : 30;
    donutMaskAlpha  : 1;
    text            : <b>#label#</b><br>#percent#;
}

legend {
    position        : bottom;
    paddingTop      : 20;
    align           : center;
    paddingRight    : 0;
}

legend item label {
    color           : inherit;
}