@import "public.styl";

html
    background:#dfeaef url("../img/assets.png") repeat-x 0px -1160px
.content
    nav-container();
    .content-container
        margin-top:10px
        width:768px
        height:630px
        background:#fff;
        font-size: 20px;
        color: #444;
        padding-top: 20px;
        padding-left: 20px;
        #group-content
        #event-content
            display:none;