@import "public.styl";

html
    background:#dfeaef url("../img/assets.png") repeat-x 0px -1405px
.content
    nav-container();
    .content-container
        height:630px
        #group-content
        #event-content
            display:none;