@import "public.styl";

html
    background:#dfeaef url("../img/assets.png") repeat-x 0px -1405px
.content
    nav-container();
    .chart-container
        margin-top: 10px
    .nav-container 
        .nav
            li
                background:url("../img/chart-demo.png") no-repeat
                padding-left:65px
            #pie
                background-position:20px 11px
            #bar
                background-position:20px -90px
            #line
                background-position:20px -190px
            #time
                background-position:20px -291px