@import "public.styl";

html
    background:#dfeaef url("../img/assets.png") repeat-x 0px -1160px
.content
    nav-container();
    .chart-container
        margin-top: 10px;
    .nav
        li
            background:url("../img/chart-demo.png") no-repeat
            padding:15px 0px 15px 45px
        #pie
            background-position:0 13px
        #bar
            background-position:0 -45px
        #line
            background-position:0 -100px
        #time
            background-position:0 -156px