@import "public.styl";

html
    background:#dfeaef url("../img/assets.png") repeat-x 0px -1405px

.content
    nav-container();
table 
    width:100%
    padding: 0; 
    margin: 0; 
    font-size: 14px;
    thead
        th
            color: #4f6b72; 
            border: 1px solid #C1DAD7; 
            letter-spacing: 2px; 
            text-transform: uppercase; 
            text-align: left; 
            padding: 6px 6px 6px 12px; 
            background: #CAE8EA  no-repeat; 
    tbody
        td
            border: 1px solid #C1DAD7; 
            background: #fff; 
            padding: 6px 6px 6px 12px; 
            color: #4f6b72; 
pre
    font-size:9pt;
    .linenums
        padding-left: 40px;