@import "reset.styl";
@import "common.styl";

html{
	background:#dfeaef url("../img/bg.png") repeat-x;
}
hr{
	background:#CEDFE7;
	margin:10px 0;
}
w1000(){
	width:1000px;
	margin:0 auto;
}
.w1000{
	w1000()
}
.header{
	w1000();
	margin-top:25px;
	.logo{
		margin-left:30px;
		width:174px;
		height:121px;
		background:url("../img/homepage_logo.png") no-repeat;
		text-indent:-9999px;
	}
	.nav{
		margin-top:10px;
		li{
			float: left;
			text-align: center;
			a{
				font-size:14px;
				font-weight:bold;
				width:170px;
				height:43px;
				text-decoration: none;
				color:#bde0f0;
				line-height:43px;
				display: block;
				background:url("../img/nav_btn.png") repeat-x;
				&:hover{
					background:url("../img/nav_btn_hover.png") repeat-x;
					color:#323b3d;
					text-decoration: none;
				}
			}
		}
		.spacing{
			width:2px;
			height:43px;
			background:url("../img/spacing.png") no-repeat;
			text-indent:-9999px;
			line-height:43px;
		}
	}
}

.footer{
	@height:45px;
	height:@height;
	background-color:#3e7db0;
	.content{
		w1000();
		p{
			color:#dfeaef;
			background:url("../img/miniLogo.png") no-repeat 0px center;
			padding-left:50px;
			line-height:@height;
		}
	}
}