@import "reset.styl"
@import "common.styl"

html{
    background:#dfeaef url("../img/assets.png") repeat-x 0 -1150px
}
hr{
    background:#CEDFE7
    margin:10px 0
}
w1000(){
    width:1000px
    margin:0 auto
}
.w1000{
    w1000()
}
#header{
    w1000()
    margin-top: 12px
    margin-bottom: 10px
    .logo{
        margin-left:30px
        width:174px
        height:121px
        background:url("../img/assets.png") no-repeat 0px -670px
        text-indent:-9999px
    }
    .nav{
        margin-top:35px
        li{
            float: left
            text-align: center
            a{
                font-size:14px
                font-weight:bold
                width:170px
                height:43px
                text-decoration: none
                color:#bde0f0
                line-height:43px
                display: block
                background:url("../img/assets.png") repeat-x
                &:hover{
                    background:url("../img/assets.png") no-repeat 0 -72px
                    color:#323b3d
                    text-decoration: none
                }
            }
            &.hover{
                a{
                    background:url("../img/assets.png") no-repeat 0 -72px
                    color:#323b3d
                    text-decoration: none
                }
            }
        }
        .spacing{
            width:2px
            height:43px
            background:url("../img/assets.png") no-repeat 0 -152px
            text-indent:-9999px
            line-height:43px
        }
    }
}
.footer{
    @height:45px
    height:@height
    background-color:#3e7db0
    .content{
        w1000()
        p{
            color:#dfeaef
            background:url("../img/assets.png") no-repeat 0px -825px
            padding-left:50px
            line-height:@height
        }
    }
}
.dashed
    background: url("../img/chart-demo.png") repeat-x 0 -220px
    height: 1px
    overflow: hidden
.links
    @height:51px
    height:@height
    margin-top:30px
    background:url("../img/assets.png") repeat-x 0px -230px
    .nav
        w1000()
        li
            padding-top:20px
            float: left
            color:#3e7db0
        .spacing
            color:#a0caeb
            margin:0 10px
nav-container()
    .nav-container
        width: 165px
        padding-left: 47px
        padding-top: 50px
        h2
            font-size: 24px
            background-color: #303331
            color: white
            line-height:60px
            height:60px
            font-family: "Microsoft YaHei",SimHei,"WenQuanYi Micro Hei",STHeiti
            font-weight:normal
            padding-top:0
            padding-bottom:0
            padding-left:30px
        .nav
            width: 165px
            position:fixed
            ul
                background-color:#efb117
            li
                height:50px
                line-height:@height
                color:#444444
                font-size:16px
                cursor:pointer
                padding-left:20px
                border-bottom:#d39a0c 1px solid
                a
                    color:#444444
                    display: block
                    &:hover
                        text-decoration: none
                &.current
                    color:#fff
                    background-color:#e0a40d
                    a
                        color:#fff
            .nav-inner
                position:relative
            .arrow
                position:absolute
                border:10px dashed
                border-color:transparent #fff transparent transparent 
                right:0
    .content-container
        margin-top:10px
        width:748px
        background:#fff
        font-size: 14px
        color: #444
        padding-top: 20px
        padding-left: 20px
        padding-right: 20px
h2
    font-size:16px
    font-weight:bold
    padding-top:15px
    padding-bottom:20px
    color:#3e7db0
h3
    font-size:16px
    font-weight:bold
    padding-top:10px
    padding-bottom:15px
    color:#5597cc
.ol
    list-style:decimal
    padding-left: 40px
.ul
    list-style:disc
    padding-left: 40px
.info
    color: #3A87AD
    background-color: #D9EDF7
    border-color: #BCE8F1
    padding: 8px 35px 8px 14px
    margin: 10pt 0
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5)
    border-radius: 4px 
a
    &:link,&:visited
        color:#3e7db0
    &:hover,&:active
        color:#3e7db0