@import "reset.styl";
@import "common.styl";

html{
    background:#dfeaef url("../img/assets.png") repeat-x 0 -905px;
}
hr{
    background:#CEDFE7;
    margin:10px 0;
}
w1000(){
    width:1000px;
    margin:0 auto;
}
.w1000{
    w1000()
}
.header{
    w1000();
    margin-top: 12px;
    margin-bottom: 10px;
    .logo{
        margin-left:30px;
        width:174px;
        height:121px;
        background:url("../img/assets.png") no-repeat 0px -670px;
        text-indent:-9999px;
    }
    .nav{
        margin-top:35px;
        li{
            float: left;
            text-align: center;
            a{
                font-size:14px;
                font-weight:bold;
                width:170px;
                height:43px;
                text-decoration: none;
                color:#bde0f0;
                line-height:43px;
                display: block;
                background:url("../img/assets.png") repeat-x;
                &:hover{
                    background:url("../img/assets.png") no-repeat 0 -72px;
                    color:#323b3d;
                    text-decoration: none;
                }
            }
        }
        .spacing{
            width:2px;
            height:43px;
            background:url("../img/assets.png") no-repeat 0 -152px;
            text-indent:-9999px;
            line-height:43px;
        }
    }
}
.footer{
    @height:45px;
    height:@height;
    background-color:#3e7db0;
    .content{
        w1000();
        p{
            color:#dfeaef;
            background:url("../img/assets.png") no-repeat 0px -825px;
            padding-left:50px;
            line-height:@height;
        }
    }
}
.dashed
    background: url("../img/chart-demo.png") repeat-x 0 -220px
    height: 1px;
    overflow: hidden;
nav-container()
    .nav-container
        width: 165px;
        padding-left: 47px;
        padding-top: 50px;
        h1
            font-size: 60px;
            background-color: #EFB117;
            color: white;
        .nav
            li
                color:#d3d3d3
                font-size:20px
                cursor:pointer
                a
                    color:#d3d3d3
                    &:hover
                        text-decoration: none;
                &.current
                    color:#6b9cc3
                    a
                        color:#6b9cc3