@import "public.styl";

.content{
	w1000();
	.primary{
		padding:30px 0 15px 0;
		.banner{
			position: relative;
					width:466px;
					height:400px;
					.banner-title-wrapper{
						position: absolute;
						left:180px;
						bottom:7px;
						.banner-title{
							float:left;
							width:14px;
							height:14px;
							border-radius: 7px 7px 7px 7px;
							background-color: #F0F8F6;
							margin-right:10px;
							border:0px solid #000000;
							cursor: pointer;
						}
						.banner-title-active{
							background-color: #5A97AC;
						}
					}
			.banner-tab{
				img{
					width:466px;
					height:328px;
				}
			}
		}
		.info{
			width: 400px;
			margin-left:100px;
			.forfree{
				width:242px;
				height:102px;
				background:url("../img/forfree.png") no-repeat;		
				text-indent:-9999px;
			}
			.intro{
				color:#95c7ef;
				margin-top:20px;
			}
			.more{
				margin-top:5px;
				a{
					color:#FFFFFF;
					font-size:14px;
					padding-right:30px;
					background: url("../img/more.png") no-repeat right;
				}
			}
			.download{
				margin-left:-30px;
				padding-top:50px;
				li{
					float: left;
					a{
						width:128px;
						height:75px;
						display: block;
						color:#FFFFFF;
						padding-left:50px;
						.title{
							font-size:20px;
							font-weight:bold;
						}
						.version{

						}
					}
				}
				
				.download_link{
					background: url("../img/download.png") no-repeat;
				}
				.demo_link{
					margin-left:40px;
					background: url("../img/demolink.png") no-repeat;
				}
			}
			.news{
				margin-top:25px;
				.new{
					padding-right:25px;
					background: url("../img/new.png") no-repeat right;
					display: inline;
				}
			}
		}
	}

	.second{
		padding:15px 0 10px 0;
		li{
			float:left;
			width:170px;
			margin-right:80px;
			font-size:12px;
			.title{
				margin-top:20px;
				color:#3e7db0;
				font-weight:bold;
			}
			.intro{
				color:#8198a2;
			}
		}
	}

	.third{
		padding:15px 0 10px 0;
		.title{
			font-weight:bold;
			color: #444444;
		}
		.github{
			background: url("../img/github.png") no-repeat;
			height:60px;
			margin-top:25px;
			padding-left:150px;
			p{
				color:#8198a2;
			}
			a{
				color:#3e7db0;
			}
		}
	}
}

.links{
	@height:51px;
	height:@height;
	margin-top:30px;
	background:url("../img/link_bg.png") repeat-x;
	.nav{
		w1000();
		li{
			padding-top:20px;
			float: left;
			color:#3e7db0;
		}
		.spacing{
			color:#a0caeb;
			margin:0 10px;
		}
	}
}
