/* ---- demo page ---- */
.demos { height:550px; width:700px; padding-left:0; }
.demo .links a.cur { background:#E6F2FA; color:#057ACD; cursor:default;}
.demo { padding:5em; text-align:center; font-family:verdana,'微软雅黑'; }
.demo h2 { font-size: 220%; padding:0.5em; }
.demo .links { color: #333; }
.demo .links a { padding:4px 8px; border-radius:8px; margin:0 4px; cursor:pointer; color:#999; }
.demo .css-links { margin-left:1em; }